@tailwind base;

@font-face {
  font-family: "GuessSans";
  src: url("./fonts/guess-sans-regular/guess-sans-regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BrandonGrotesque";
  src: url("./fonts/brandon/Brandon_Grotesque_thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BrandonGrotesque";
  src: url("./fonts/brandon/Brandon_Grotesque_light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BrandonGrotesque";
  src: url("./fonts/brandon/Brandon_Grotesque_bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geraldton";
  src: url("./fonts/geraldton/GeraldtonExtraLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geraldton";
  src: url("./fonts/geraldton/GeraldtonMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geraldton";
  src: url("./fonts/geraldton/GeraldtonExtraBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-[#EBEAE9] font-geraldton font-light overflow-x-hidden;
}

p,
ul,
li,
button,
span {
  @apply font-geraldton;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-brandon;
}

form {
  caret-color: #4b3564 !important;
}

* :not form {
  caret-color: transparent;
}

::selection {
  text-shadow:
    -1px 1px 0 #232323,
    1px 1px 0 #232323,
    1px -1px 0 #232323,
    -1px -1px 0 #232323;
  background-color: transparent;
  color: #ebeae9;
}

strong::selection {
  text-shadow: none !important;
  color: #232323 !important;
}

::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 5px;
  height: 20px;
}

::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: #ebeae9;
}

::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  @apply bg-primary;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b3564;
}

@tailwind components;
@tailwind utilities;

.vertical {
  writing-mode: sideways-lr;
}

* {
  box-sizing: border-box;
}
